html {
  overflow: hidden !important;
}

div#app-container > div.container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.top-nav {
  padding: 0 20px 0 20px;
  flex: 0 0 auto;
}

.app-main {
  position: relative;
  flex: 1 0 auto;
}

.websceneview {
  position: absolute;
  height: 100%;
  width: 100%;
}

.app-widgets {
  margin: 15px;
  float: right;
}

.time-nav,
.shadow-nav {
  width: 300px;
  margin-bottom: 5px;
}

.time-nav > div> label,
.shadow-nav > div > fieldset {
  margin: 0;
}

.identity {
  display: flex;
  align-items: center;
}

.identity > .dropdown > button {
  display: flex;
  align-items: center;
  padding: 13px 0 12px 0;
}

.identity > .dropdown > button > img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.identity > .dropdown > button > i {
  margin-left: 10px;
}


/* Calcite fixes */

button.top-nav-link {
  cursor: pointer;
  background: inherit;
  border-left: none;
  border-right: none;
  border-top: none;
  box-sizing: border-box;
  margin: 0; /* Safari adds a 2px margin to buttons for no reason */
}

button.dropdown-link {
  cursor: pointer;
  background: inherit;
  border: none;
}
