@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

#app-container,
#app-container > div,
#app-container > div > .container {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.top-nav {
  padding: 0 20px 0 20px;
}

.app-main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 65px;
  align-items: stretch;
  background-color: whitesmoke;
}

.websceneview {
  height: 100%;
  width: 100%;
}

.info {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 300px;
}

.identity {
  display: flex;
  align-items: center;
}

.identity > .dropdown > a {
  display: flex;
  align-items: center;
  padding: 13px 0 12px 0;
}

.identity > .dropdown > a > img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.identity > .dropdown > a > i {
  margin-left: 10px;
}

.identity > button {
  margin: 12px;
}
