@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

.hidden {
  display: none;
}

#app-container,
#app-container > div {
  width: 100%;
  height: 100%;
}

#app-container > div > .container {

}

.top-nav {
  padding: 0 10px 0 20px;
}

.app-main {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  background-color: whitesmoke;
}

.websceneview {
  flex: 1 300px;
  height: calc(100vh - 70px);
} 

.info {
  flex: 0 300px;
  background-color: rgb(240, 255, 255);
  height: calc(100vh - 110px);
  padding: 20px;
}

.identity {
  display: flex;
  align-items: center;
}

.identity > .dropdown > a {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.identity > .dropdown > a > img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.identity > .dropdown > a > i {
  margin-left: 10px;
}

.identity > button {
  margin: 12px;
}



